/*Navigation*/
.navbar {
    background-color: rgba(12, 12, 13, 0.78032);
    text-transform: uppercase;
    height: 90px;
    border: 0;
}

.navbar a {
    color: #fff !important;
    font-weight: 200;
}



/*Header*/

.header {
    background-image: url(../images/header-image-vn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 530px;
    left: 0;
    right: 0;
    top: 85px;
    right: 0;
    }

.header-logo {
    text-align: center;
    color: #ffffff;
}
.header-logo h1 {
    font-size: 85px;
}