/*Navigation*/
.navbar {
    background-color: rgba(12, 12, 13, 0.78032);
    text-transform: uppercase;
    height: 90px;
    border: 0;
    padding-top: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 200;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1001;
}

.navbar a {
    color: #fff !important;
    font-weight: 200;
    font-size: 14px !important;
g

}

.navbar a:hover {
    color: #e80705 !important;
}

.header .navbar .navbar-brand {
    font-family: 'Allura', cursive;
    text-transform: none;
    font-size: 43px !important;
    color: #e80705 !important;
}

.header .navbar .navbar-brand:hover {
    color: #ffffff !important;
}


/*Header*/

.header {
    /*background-image: url(../images/header-image-vn.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 0;
    height: 630px;
    left: 0;
    right: 0;
    width: 100%;
}

.header-logo {
    color: #ffffff;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 200;
    margin-top: 300px;
    text-align: center;
    text-transform: uppercase;
}
.header-logo h1 {
    font-size: 85px;
}

/*Carousel*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 6em;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .5;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url(../images/header-image-vn.jpg);
}
.fade-carousel .slides .slide-2 {
    background-image: url(../images/header-image-vn-2.jpg);
}
.fade-carousel .slides .slide-3 {
    background-image: url(../images/header-image-vn-3.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}


/*About*/

.about {
    padding: 75px 0 100px;
    text-align: center;
}

.about h2,
.about h4 {
    text-align: center;
    color: #4c4c4c;
    margin: 20px 0 20px;
}

.about p {
    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
}

/*Hours*/

.hours {
    padding: 545px 0 100px;
    text-align: center;
    background-image: url(../images/hours-image-vn.jpg);

    background-size: cover;
    background-position: 50% 50%;
    background-position: 50% 50% !important;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 40px;
    min-height: 528px;
}

.hours h2,
.hours h4 {
    color: #ffffff;
    text-align: center;
    margin: 20px 0 20px;
}

.hours p {
    color: #ffffff;
    font-size: 14px;
    padding-bottom: 40px;
}

.hours .hour-days {
    color: #e80705;
}

/*Menu*/

.menu .container {
    padding-top: 25px;
    height: 500px;
}

.menu img {
    display: block;
    margin: 0 auto;
    margin-bottom: 3em;
}

.menu .menu-header {
    color: #e80705;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.menu li {
    margin-bottom: 10px;
    list-style: none;
}

.menu .menu-english-name {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.menu .menu-viet-name {
    color: #484745;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
}

.menu span {
    color: #c02530;
    font-size: 12px;
    font-weight: 400;
    padding-left: 14px;
}

#menu-button {
    border: 2px solid #dd0301;
    background: transparent;
    color: #dd0301;
    font-size: 18px;
    position: relative;
    height: 65px;
    width: 260px;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

#menu-button:hover {
    background: #dd0301;
    color: #ffffff;
    transition: 0.5s all ease;
}

hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/*Gallery*/

.gallery-container {
    margin-top: 150px;
    text-align: center;
}


.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;

}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

#slider-thumbs .thumbnail {
    height: 103px;
}

.carousel-inner img {
    padding-top: 15px;
    opacity: 1;
}

/*Contact*/

.contact {
    color: #ffffff;
    padding: 50px 0 80px;
    text-align: center;
    background-color: #000000;
}

.contact p {
    padding-bottom: 80px;

}

.contact h2 {

    margin: 20px 0 20px;
}

.contact .input-group {
    margin-bottom: 25px;

}

.contact .form-control {
    border-radius: 0 !important;
}

.contact span {
    border-radius: 0 !important;
}

.contact .btn {
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #D30017;

}

.contact .btn:hover {
    background-color: #ffffff!important;
    color: #D30017;!important;
}

/*Map*/

.google-map {
    margin: 0 auto;
}



/* Footer */

.footer {
    padding: 30px;
    color: #cccccc;
    background-color: #000000;
}

.footer .social {
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}

.footer input {
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}


.footer .btn {
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}

.footer .btn:hover {
    color: #fff !important;
    background-color: #91cf91!important;
}

 .social .fa {
    font-size: 50px;
}